<nav id="navbar" style="background-color: dimgray;">
        <div class="navb">
            <ul id="navbar-menu" class="navbar-nav bd-navbar-nav flex-row" style="list-style:none;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-content: center; margin-top: -8px;
    margin-bottom: 20px;
    padding: 15px;">
                {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a class="nav-link" style="text-decoration: none; color: white;" {% if page.url == item.link %}active{% endif %} href="{{ item.link }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">{{ item.name }}</a>
                    </li>
                {% endfor %}
          </ul>
        </div>
        </nav>
