body{
        width: 100%;
        background-color : rgb(26, 27, 26);
        position: sticky;
        margin-left:0;
  }
  .text{
      color: white;
      font-size: 50px;
      text-align: center;
      font-family: 'Helvetica Neue','Arial','sans-serif';

  }
  .text2{
      border: 1px solid gold;
      border-radius: 8px;
      color:white;
      font-size: 20px;
      word-spacing: 0px;
      margin-top: 50px;
      background-color: black;
      padding: 10px;
      margin-left: 10px;
  }
  .body-1{
      display: block;
  }
  .body-2{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-left: 30px;
  }
  .body-3{
    position: relative;
   
    margin-top: 60px;
    
  }
.buttons{
    position: relative;
    border:1px solid gold;
    background-color: gold;
    color: black;
    padding: 50px;
    margin:2px;
}  
.contiener{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: relative;
    background-color: black;
    padding: 20px;
    border: 2px solid rgb(26, 27, 26);
    border-radius: 50px;
    
}
.text3{
    color:white;
    margin: 40px;
    border: 0px solid gold;
    width: 70%;
    padding: 10px;
    font-size:25px;
}
.footer1{
    text-align: center;
    padding: 10px;
    
}
.footer2{
    text-decoration:none;
    color:white;
}
.footer2:hover{
    color: goldenrod;
}
